---
import { type CollectionEntry } from "astro:content";

export interface Props {
  person: CollectionEntry<"people">;
}

const { person } = Astro.props;
---

<a href={`/${person.slug}`}>
	<div
		class="h-full rounded-2xl bg-stone-200/50 from-orange-900 via-amber-700 to-white p-[1px] text-sm shadow-[inset_0_0_0_1px_rgba(255,255,255,0.4)] hover:bg-gradient-to-r dark:bg-gray-900"
	>
		<div
			class="flex h-full w-full
		flex-col
    rounded-[1rem]
		bg-stone-300
		p-4
		text-gray-900
    opacity-90
    dark:bg-stone-800
		dark:text-white"
		>
			<div class="flex-auto">
				<div class="flex justify-between pb-4 text-xs">
					<p>{person.data.company}</p>
				</div>
				<p class="pb-4 text-lg font-bold">{person.data.name}</p>
				<p>{person.data.description}</p>
			</div>
			<p class="pt-4 underline">learn more →</p>
		</div>
	</div>
</a>
